@page
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@*@model LoginModel*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Logged in";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@if(User.IsInRole("Company"))
{
    <h1>Hey Company</h1>
}else
{
    <h1>Hey User</h1>
}